## **Create Record of Inventory and record.json file**

In [1]:
record = {
          'EID1001':{'Name':'Boat A54','Quantity':40,'Price': 599, 'Category' : 'Speaker','Special Feature' : 'High Sound'},
          'EID1002':{'Name':'zebronics 3i','Quantity':50,'Price':999, 'Category' : 'Speaker','Special Feature' : 'High Bass'},
          'EID1003':{'Name':'Mivi Play 5w','Quantity':35, 'Price':499, 'Category' : 'Speaker','Special Feature' : 'High Bass' },
          'EID1004':{'Name':'OnePlus','Quantity':30,'Price': 1599, 'Category' : 'Speaker','Special Feature' : 'High Bass' },
          'EID1005':{'Name':'Realme','Quantity':42,'Price': 899, 'Category' : 'Speaker','Special Feature' :  'High Sound'},
          'EID1006':{'Name':'Philips Trimmer','Quantity':80,'Price': 1499, 'Category' : 'Trimmer','Special Feature' : 'Water Resistant' },
          'EID1007':{'Name':'Redme Trimmer','Quantity':50,'Price': 1599, 'Category' : 'Trimmer','Special Feature' : 'Long Battery Life'},
          'EID1008':{'Name':'Realme 3','Quantity':60,'Price': 12999, 'Category' : 'Phone','Special Feature' : '48Mp cam'},
          'EID1009':{'Name':'Realme Narzo 30','Quantity':80,'Price':11999, 'Category' : 'Phone','Special Feature' : '64Mp cam'},
          'EID1010':{'Name':'Redmi y2','Quantity':75,'Price': 9299, 'Category' : 'Phone','Special Feature' : 'Low Cost'},
          'EID1011':{'Name':'Redmi Note 10','Quantity':50,'Price': 10999, 'Category' : 'Phone','Special Feature' : 'Long Battery Life'},
          'EID1012':{'Name':'Redmi Note 9','Quantity':45,'Price': 11999, 'Category' : 'Phone','Special Feature' : '64Mp Selfie Cam'},
          'EID1013':{'Name':'One Plus XT','Quantity':25,'Price': 25999, 'Category' : 'Phone','Special Feature' : '108Mp Quad cam'},
          'EID1014':{'Name':'IPhone X','Quantity':30,'Price': 35000, 'Category' : 'Phone','Special Feature' : 'Camera and Processor'},
          'EID1015':{'Name':'Realme X','Quantity':55,'Price': 20000, 'Category' : 'Phone','Special Feature' : 'Long Battery Life'},
          'EID1016':{'Name':'Mi Powerbank','Quantity':80,'Price': 799, 'Category' : 'Powerbank','Special Feature' : 'Fast Charging' },
          'EID1017':{'Name':'Realme Powerbank','Quantity':60,'Price': 899, 'Category' : 'Powerbank','Special Feature' : 'Fast Charging'},
          'EID1018':{'Name':'Mi USB Cable','Quantity':100,'Price': 199, 'Category' : 'Cable','Special Feature' :'Fast Data Transfer' },
          'EID1019':{'Name':'Realme USB Cable','Quantity':100,'Price': 199, 'Category' : 'Cable','Special Feature' : 'upto 3A charge'},
          'EID1020':{'Name':'Mi 10x','Quantity':40,'Price': 40000, 'Category' : 'Phone','Special Feature' : 'Qualcomm Snapdragon 920G' },
          'EID1021':{'Name':'Mi 9T','Quantity':30,'Price': 29999, 'Category' : 'Phone','Special Feature' : 'Qualcomm Snapdragon 720G'},
          'EID1022':{'Name':'Redmi Note 7 Pro Max','Quantity':35,'Price': 18999, 'Category'  : 'Phone','Special Feature' : 'Snapdragon 88f'},
          'EID1023':{'Name':'Redmi 9 Prime','Quantity':35,'Price': 11999, 'Category' : 'Phone','Special Feature' : '108Mp Quad Cam'},
          'EID1024':{'Name':'Redmi Smart 10','Quantity':20,'Price': 20999, 'Category' : 'TV','Special Feature' :'Sound Quality'},
          'EID1025':{'Name':'Mi Tv 5X','Quantity':10,'Price': 50000, 'Category'  : 'TV','Special Feature' : 'Big Screen'},
          'EID1026':{'Name':'Hp Notebook','Quantity':40,'Price': 45000, 'Category' : 'Laptop','Special Feature' : 'Gaming PC'},
          'EID1027':{'Name':'Mi Notebook','Quantity':20,'Price': 52499, 'Category' : 'Laptop','Special Feature' : 'Graphics Quality'},
          'EID1028':{'Name':'Boat Earbuds','Quantity':80,'Price': 1899, 'Category' : 'Earbuds','Special Feature' : 'IPX4 Rated'},
          'EID1029':{'Name':'oneplus Earbuds','Quantity':85,'Price': 1999, 'Category' : 'Earbuds','Special Feature' : 'IPX4 Rated'},
          'EID1030':{'Name':'zebronics Earbuds','Quantity':70,'Price': 1399, 'Category' : 'Earbuds','Special Feature' : 'IPX4 Rated'}
        }

In [2]:
import json
js=json.dumps(record)

In [3]:
fd=open('record.json','w')
fd.write(js)
fd.close()

##Read Data from record.json file

In [4]:
fd=open('record.json','r')
r=fd.read()
fd.close()

In [5]:
r

'{"EID1001": {"Name": "Boat A54", "Quantity": 40, "Price": 599, "Category": "Speaker", "Special Feature": "High Sound"}, "EID1002": {"Name": "zebronics 3i", "Quantity": 50, "Price": 999, "Category": "Speaker", "Special Feature": "High Bass"}, "EID1003": {"Name": "Mivi Play 5w", "Quantity": 35, "Price": 499, "Category": "Speaker", "Special Feature": "High Bass"}, "EID1004": {"Name": "OnePlus", "Quantity": 30, "Price": 1599, "Category": "Speaker", "Special Feature": "High Bass"}, "EID1005": {"Name": "Realme", "Quantity": 42, "Price": 899, "Category": "Speaker", "Special Feature": "High Sound"}, "EID1006": {"Name": "Philips Trimmer", "Quantity": 80, "Price": 1499, "Category": "Trimmer", "Special Feature": "Water Resistant"}, "EID1007": {"Name": "Redme Trimmer", "Quantity": 50, "Price": 1599, "Category": "Trimmer", "Special Feature": "Long Battery Life"}, "EID1008": {"Name": "Realme 3", "Quantity": 60, "Price": 12999, "Category": "Phone", "Special Feature": "48Mp cam"}, "EID1009": {"Name": "Realme Narzo 30", "Quantity": 80, "Price": 11999, "Category": "Phone", "Special Feature": "64Mp cam"}, "EID1010": {"Name": "Redmi y2", "Quantity": 75, "Price": 9299, "Category": "Phone", "Special Feature": "Low Cost"}, "EID1011": {"Name": "Redmi Note 10", "Quantity": 50, "Price": 10999, "Category": "Phone", "Special Feature": "Long Battery Life"}, "EID1012": {"Name": "Redmi Note 9", "Quantity": 45, "Price": 11999, "Category": "Phone", "Special Feature": "64Mp Selfie Cam"}, "EID1013": {"Name": "One Plus XT", "Quantity": 25, "Price": 25999, "Category": "Phone", "Special Feature": "108Mp Quad cam"}, "EID1014": {"Name": "IPhone X", "Quantity": 30, "Price": 35000, "Category": "Phone", "Special Feature": "Camera and Processor"}, "EID1015": {"Name": "Realme X", "Quantity": 55, "Price": 20000, "Category": "Phone", "Special Feature": "Long Battery Life"}, "EID1016": {"Name": "Mi Powerbank", "Quantity": 80, "Price": 799, "Category": "Powerbank", "Special Feature": "Fast Charging"}, "EID1017": {"Name": "Realme Powerbank", "Quantity": 60, "Price": 899, "Category": "Powerbank", "Special Feature": "Fast Charging"}, "EID1018": {"Name": "Mi USB Cable", "Quantity": 100, "Price": 199, "Category": "Cable", "Special Feature": "Fast Data Transfer"}, "EID1019": {"Name": "Realme USB Cable", "Quantity": 100, "Price": 199, "Category": "Cable", "Special Feature": "upto 3A charge"}, "EID1020": {"Name": "Mi 10x", "Quantity": 40, "Price": 40000, "Category": "Phone", "Special Feature": "Qualcomm Snapdragon 920G"}, "EID1021": {"Name": "Mi 9T", "Quantity": 30, "Price": 29999, "Category": "Phone", "Special Feature": "Qualcomm Snapdragon 720G"}, "EID1022": {"Name": "Redmi Note 7 Pro Max", "Quantity": 35, "Price": 18999, "Category": "Phone", "Special Feature": "Snapdragon 88f"}, "EID1023": {"Name": "Redmi 9 Prime", "Quantity": 35, "Price": 11999, "Category": "Phone", "Special Feature": "108Mp Quad Cam"}, "EID1024": {"Name": "Redmi Smart 10", "Quantity": 20, "Price": 20999, "Category": "TV", "Special Feature": "Sound Quality"}, "EID1025": {"Name": "Mi Tv 5X", "Quantity": 10, "Price": 50000, "Category": "TV", "Special Feature": "Big Screen"}, "EID1026": {"Name": "Hp Notebook", "Quantity": 40, "Price": 45000, "Category": "Laptop", "Special Feature": "Gaming PC"}, "EID1027": {"Name": "Mi Notebook", "Quantity": 20, "Price": 52499, "Category": "Laptop", "Special Feature": "Graphics Quality"}, "EID1028": {"Name": "Boat Earbuds", "Quantity": 80, "Price": 1899, "Category": "Earbuds", "Special Feature": "IPX4 Rated"}, "EID1029": {"Name": "oneplus Earbuds", "Quantity": 85, "Price": 1999, "Category": "Earbuds", "Special Feature": "IPX4 Rated"}, "EID1030": {"Name": "zebronics Earbuds", "Quantity": 70, "Price": 1399, "Category": "Earbuds", "Special Feature": "IPX4 Rated"}}'

In [6]:
record=json.loads(r)
record

{'EID1001': {'Name': 'Boat A54',
  'Quantity': 40,
  'Price': 599,
  'Category': 'Speaker',
  'Special Feature': 'High Sound'},
 'EID1002': {'Name': 'zebronics 3i',
  'Quantity': 50,
  'Price': 999,
  'Category': 'Speaker',
  'Special Feature': 'High Bass'},
 'EID1003': {'Name': 'Mivi Play 5w',
  'Quantity': 35,
  'Price': 499,
  'Category': 'Speaker',
  'Special Feature': 'High Bass'},
 'EID1004': {'Name': 'OnePlus',
  'Quantity': 30,
  'Price': 1599,
  'Category': 'Speaker',
  'Special Feature': 'High Bass'},
 'EID1005': {'Name': 'Realme',
  'Quantity': 42,
  'Price': 899,
  'Category': 'Speaker',
  'Special Feature': 'High Sound'},
 'EID1006': {'Name': 'Philips Trimmer',
  'Quantity': 80,
  'Price': 1499,
  'Category': 'Trimmer',
  'Special Feature': 'Water Resistant'},
 'EID1007': {'Name': 'Redme Trimmer',
  'Quantity': 50,
  'Price': 1599,
  'Category': 'Trimmer',
  'Special Feature': 'Long Battery Life'},
 'EID1008': {'Name': 'Realme 3',
  'Quantity': 60,
  'Price': 12999,
  'Category': 'Phone',
  'Special Feature': '48Mp cam'},
 'EID1009': {'Name': 'Realme Narzo 30',
  'Quantity': 80,
  'Price': 11999,
  'Category': 'Phone',
  'Special Feature': '64Mp cam'},
 'EID1010': {'Name': 'Redmi y2',
  'Quantity': 75,
  'Price': 9299,
  'Category': 'Phone',
  'Special Feature': 'Low Cost'},
 'EID1011': {'Name': 'Redmi Note 10',
  'Quantity': 50,
  'Price': 10999,
  'Category': 'Phone',
  'Special Feature': 'Long Battery Life'},
 'EID1012': {'Name': 'Redmi Note 9',
  'Quantity': 45,
  'Price': 11999,
  'Category': 'Phone',
  'Special Feature': '64Mp Selfie Cam'},
 'EID1013': {'Name': 'One Plus XT',
  'Quantity': 25,
  'Price': 25999,
  'Category': 'Phone',
  'Special Feature': '108Mp Quad cam'},
 'EID1014': {'Name': 'IPhone X',
  'Quantity': 30,
  'Price': 35000,
  'Category': 'Phone',
  'Special Feature': 'Camera and Processor'},
 'EID1015': {'Name': 'Realme X',
  'Quantity': 55,
  'Price': 20000,
  'Category': 'Phone',
  'Special Feature': 'Long Battery Life'},
 'EID1016': {'Name': 'Mi Powerbank',
  'Quantity': 80,
  'Price': 799,
  'Category': 'Powerbank',
  'Special Feature': 'Fast Charging'},
 'EID1017': {'Name': 'Realme Powerbank',
  'Quantity': 60,
  'Price': 899,
  'Category': 'Powerbank',
  'Special Feature': 'Fast Charging'},
 'EID1018': {'Name': 'Mi USB Cable',
  'Quantity': 100,
  'Price': 199,
  'Category': 'Cable',
  'Special Feature': 'Fast Data Transfer'},
 'EID1019': {'Name': 'Realme USB Cable',
  'Quantity': 100,
  'Price': 199,
  'Category': 'Cable',
  'Special Feature': 'upto 3A charge'},
 'EID1020': {'Name': 'Mi 10x',
  'Quantity': 40,
  'Price': 40000,
  'Category': 'Phone',
  'Special Feature': 'Qualcomm Snapdragon 920G'},
 'EID1021': {'Name': 'Mi 9T',
  'Quantity': 30,
  'Price': 29999,
  'Category': 'Phone',
  'Special Feature': 'Qualcomm Snapdragon 720G'},
 'EID1022': {'Name': 'Redmi Note 7 Pro Max',
  'Quantity': 35,
  'Price': 18999,
  'Category': 'Phone',
  'Special Feature': 'Snapdragon 88f'},
 'EID1023': {'Name': 'Redmi 9 Prime',
  'Quantity': 35,
  'Price': 11999,
  'Category': 'Phone',
  'Special Feature': '108Mp Quad Cam'},
 'EID1024': {'Name': 'Redmi Smart 10',
  'Quantity': 20,
  'Price': 20999,
  'Category': 'TV',
  'Special Feature': 'Sound Quality'},
 'EID1025': {'Name': 'Mi Tv 5X',
  'Quantity': 10,
  'Price': 50000,
  'Category': 'TV',
  'Special Feature': 'Big Screen'},
 'EID1026': {'Name': 'Hp Notebook',
  'Quantity': 40,
  'Price': 45000,
  'Category': 'Laptop',
  'Special Feature': 'Gaming PC'},
 'EID1027': {'Name': 'Mi Notebook',
  'Quantity': 20,
  'Price': 52499,
  'Category': 'Laptop',
  'Special Feature': 'Graphics Quality'},
 'EID1028': {'Name': 'Boat Earbuds',
  'Quantity': 80,
  'Price': 1899,
  'Category': 'Earbuds',
  'Special Feature': 'IPX4 Rated'},
 'EID1029': {'Name': 'oneplus Earbuds',
  'Quantity': 85,
  'Price': 1999,
  'Category': 'Earbuds',
  'Special Feature': 'IPX4 Rated'},
 'EID1030': {'Name': 'zebronics Earbuds',
  'Quantity': 70,
  'Price': 1399,
  'Category': 'Earbuds',
  'Special Feature': 'IPX4 Rated'}}

##Add New Item into Inventory

In [ ]:
prod_id=input("Enter Product ID : ")
Name=input("Enter Name  : ")
Quantity=int(input("Enter Quantity : "))
Price=int(input("Enter Price : "))
Category=input("Enter Category : ")
Special_Feature=input("Enter Special Feature : ")

In [ ]:
record[prod_id]={'Name' :Name,'Quantity':Quantity,'Price':Price,'Category':Category,'Special Feature':Special_Feature}
record

In [ ]:
prod_id=input("Enter Product ID : ")
Name=input("Enter Name  : ")
Quantity=int(input("Enter Quantity : "))
Price=int(input("Enter Price : "))
Category=input("Enter Category : ")
Special_Feature=input("Enter Special Feature : ")

In [ ]:
record[prod_id]={'Name' :Name,'Quantity':Quantity,'Price':Price,'Category':Category,'Special Feature':Special_Feature}
record

## Add Quantity into Previous Item

In [ ]:
prod_id=input("Enter Product ID : ")
quantity=int(input("Enter Quantity : "))

In [ ]:
if prod_id in record:
  record[prod_id]["Quantity"]=record[prod_id]["Quantity"]+quantity
else:
  print("Given Item is not present")

In [ ]:
record[prod_id]["Quantity"]

In [ ]:
record

In [ ]:
prod_id=input("Enter Product ID : ")
quantity=int(input("Enter Quantity : "))

In [ ]:
if prod_id in record:
  record[prod_id]["Quantity"]=record[prod_id]["Quantity"]+quantity
else:
  print("Given Item is not present")

## Purchase

In [ ]:
user=input("Enter the Product ID : ")
Quantity=int(input("Enter the Quantity "))

In [ ]:
record[us_prod_id]['Quantity']

In [ ]:
if us_Quantity<=record[us_prod_id]['Quantity']:
  record[us_prod_id]['Quantity']=record[us_prod_id]['Quantity']-us_Quantity
else:
  print('Sorry,We give Only',record[us_prod_id]['Quantity'],"product")

In [ ]:
user1=input("Enter Product ID : ")
us_Quantity1=int(input("Enter Quantity : "))

In [ ]:
record[user1]["Name"]

In [ ]:
total=record[user1]['Price']*us_Quantity1
total

In [ ]:
record[user1]['Quantity']=record[user1]['Quantity']-us_Quantity1

In [ ]:
record[user1]['Quantity']

#First Item Purchase

In [ ]:
print("Product :",record[user1]["Name"])
print("Price :",record[user1]['Price'])
print("Quantity :",us_Quantity1)
print("Billing Amount :",total)

In [ ]:
record[user1]['Quantity']

In [ ]:
user2=input("Enter Product ID : ")
us_Quantity2=int(input("Enter Quantity : "))

if us_Quantity2<=record[user2]['Quantity']:
  record[user2]['Quantity']=record[user2]['Quantity']-us_Quantity2
else:
  print('Sorry,We give Only',record[us_prod_id]['Quantity'],"product")

print("\n\nProduct :",record[user2]["Name"])
print("Price :",record[user2]['Price'])
print("Quantity :",us_Quantity2)

total=record[user2]['Price']*us_Quantity2
print("Billing Amount :",total)

In [ ]:
record[user2]['Quantity']

In [ ]:
user3=input("Enter Product ID : ")
us_Quantity3=int(input("Enter Quantity : "))

if us_Quantity3<=record[user3]['Quantity']:
  record[user3]['Quantity']=record[user3]['Quantity']-us_Quantity3
else:
  print('Sorry,We give Only',record[user3]['Quantity'],"product")

print("\n\nProduct :",record[user3]["Name"])
print("Price :",record[user3]['Price'])
print("Quantity :",us_Quantity3)

total=record[user3]['Price']*us_Quantity3
print("Billing Amount :",total)

In [ ]:
record[user3]['Quantity']

In [ ]:
user4=input("Enter Product ID : ")
us_Quantity4=int(input("Enter Quantity : "))

if us_Quantity4<=record[user4]['Quantity']:
  record[user4]['Quantity']=record[user4]['Quantity']-us_Quantity4
else:
  print('Sorry,We give Only',record[user4]['Quantity'],"product")

print("\n\nProduct :",record[user4]["Name"])
print("Price :",record[user4]['Price'])
print("Quantity :",us_Quantity4)

total=record[user4]['Price']*us_Quantity4
print("Billing Amount :",total)

In [ ]:
record[user4]['Quantity']

In [ ]:
user5=input("Enter Product ID : ")
us_Quantity5=int(input("Enter Quantity : "))

if us_Quantity5<=record[user5]['Quantity']:
  record[user5]['Quantity']=record[user5]['Quantity']-us_Quantity5
else:
  print('Sorry,We give Only',record[user5]['Quantity'],"product")

print("\n\nProduct :",record[user5]["Name"])
print("Price :",record[user5]['Price'])
print("Quantity :",us_Quantity5)

total=record[user5]['Price']*us_Quantity5
print("Billing Amount :",total)

In [ ]:
record[user5]['Quantity']

In [ ]:
user6=input("Enter Product ID : ")
us_Quantity6=int(input("Enter Quantity : "))

if us_Quantity6<=record[user6]['Quantity']:
  record[user6]['Quantity']=record[user6]['Quantity']-us_Quantity6
else:
  print('Sorry,We give Only',record[user6]['Quantity'],"product")

print("\n\nProduct :",record[user6]["Name"])
print("Price :",record[user6]['Price'])
print("Quantity :",us_Quantity6)

total=record[user6]['Price']*us_Quantity6
print("Billing Amount :",total)

In [ ]:
record[user6]['Quantity']

In [ ]:
user7=input("Enter Product ID : ")
us_Quantity7=int(input("Enter Quantity : "))

if us_Quantity7<=record[user7]['Quantity']:
  record[user7]['Quantity']=record[user7]['Quantity']-us_Quantity7
else:
  print('Sorry,We give Only',record[user7]['Quantity'],"product")

print("\n\nProduct :",record[user7]["Name"])
print("Price :",record[user7]['Price'])
print("Quantity :",us_Quantity7)

total=record[user7]['Price']*us_Quantity7
print("Billing Amount :",total)

In [ ]:
record[user7]['Quantity']

In [ ]:
user8=input("Enter Product ID : ")
us_Quantity8=int(input("Enter Quantity : "))

if us_Quantity8<=record[user8]['Quantity']:
  record[user8]['Quantity']=record[user8]['Quantity']-us_Quantity8
else:
  print('Sorry,We give Only',record[user8]['Quantity'],"product")

print("\n\nProduct :",record[user8]["Name"])
print("Price :",record[user8]['Price'])
print("Quantity :",us_Quantity8)

total=record[user8]['Price']*us_Quantity8
print("Billing Amount :",total)

In [ ]:
total=record[user8]['Price']*us_Quantity8
print("Billing Amount :",total)

In [ ]:
record[user8]['Quantity']

In [ ]:
user9=input("Enter Product ID : ")
us_Quantity9=int(input("Enter Quantity : "))

if us_Quantity9<=record[user9]['Quantity']:
  record[user9]['Quantity']=record[user9]['Quantity']-us_Quantity9
else:
  print('Sorry,We give Only',record[user9]['Quantity'],"product")

print("\n\nProduct :",record[user9]["Name"])
print("Price :",record[user9]['Price'])
print("Quantity :",us_Quantity9)

total=record[user9]['Price']*us_Quantity9
print("Billing Amount :",total)

In [ ]:
record[user9]['Quantity']

In [ ]:
user10=input("Enter Product ID : ")
us_Quantity10=int(input("Enter Quantity : "))

if us_Quantity10<=record[user10]['Quantity']:
  record[user10]['Quantity']=record[user10]['Quantity']-us_Quantity10
else:
  print('Sorry,We give Only',record[user10]['Quantity'],"product")

print("\n\nProduct :",record[user10]["Name"])
print("Price :",record[user10]['Price'])
print("Quantity :",us_Quantity10)

total=record[user10]['Price']*us_Quantity10
print("Billing Amount :",total)

In [ ]:
record[user10]['Quantity']

In [ ]:
record

In [ ]:
import json
js=json.dumps(record)

In [ ]:
fd=open("purchase.json","w")
fd.write(js)
fd.close()

## Sales(Transaction)

In [ ]:
fd=open("purchase.json","r")
txt=fd.read()
fd.close()
txt

In [ ]:
record=json.loads(txt)

In [ ]:
type(record)

In [ ]:
record

In [ ]:
sales={1:{'product ID':user1,"Quantity":us_Quantity1,"Amount":record[user1]['Price']*us_Quantity1},
      2:{'product ID':user2,"Quantity":us_Quantity2,"Amount":record[user2]['Price']*us_Quantity2},
      3: {'product ID':user3,"Quantity":us_Quantity3,"Amount":record[user3]['Price']*us_Quantity3},
      4:{'product ID':user4,"Quantity":us_Quantity4,"Amount":record[user4]['Price']*us_Quantity4},
      5:{'product ID':user5,"Quantity":us_Quantity5,"Amount":record[user5]['Price']*us_Quantity5} ,
      6:{'product ID':user6,"Quantity":us_Quantity6,"Amount":record[user6]['Price']*us_Quantity6},
      7:{'product ID':user7,"Quantity":us_Quantity7,"Amount":record[user7]['Price']*us_Quantity7},
      8:{'product ID':user8,"Quantity":us_Quantity8,"Amount":record[user8]['Price']*us_Quantity8},
      9:{'product ID':user9,"Quantity":us_Quantity9,"Amount":record[user9]['Price']*us_Quantity9},
      10:{'product ID':user10,"Quantity":us_Quantity10,"Amount":record[user10]['Price']*us_Quantity10} }

In [ ]:
json.dumps(sales)

In [ ]:
sales

In [ ]:
js=json.dumps(sales)
fd=open('sales.json',"w")
fd.write(js)
fd.close()